@{
    ViewBag.Title = "BackLogin";
    Layout = "~/Views/Shared/_BackLayout.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="margin-left: 280px;">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">首页</li>
        </ol>
    </div>
    <!--/.row-->

    




</div>
<!--/.main-->
