@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>古驿平安视频系统</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Utils.js"></script>
    <script src="~/Scripts/JQuery.md5.js"></script>

</head>
<body id="backLogin">
    <div class="row">
        <div style="text-align:center;margin-top: 100px;">
            <img src="~/Image/logo.gif"/>
        </div>
        <div style="margin:auto;margin-top: 30px;width:350px;">
            <div class="login-panel panel panel-default">
                <div class="panel-heading" style="text-align:center">后台登陆</div>
                <div class="panel-body">
                    <p id="erro_info" style="color:red;text-align:center">@TempData["erroInfo"]</p>
                    <form role="form" action="@Url.Content("~/Admin/BackLogin/")" method="post" id="LoginForm">
                        <div class="form-group">
                            <input class="form-control" placeholder="账号" name="account" id="account" type="text" value="123" autofocus="" required >
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" id="password" type="password" value="1234" required>
                        </div>

                        <table>
                            <tr>
                                <td>
                                    <div class="form-group" style="margin-top:10px;">
                                        <input class="form-control" placeholder="验证码" name="code" id="code" type="text" required onblur="verifyCode();">
                                    </div>
                                </td>
                                <td style="padding-left:10px;">
                                    <a onclick="refreshCode();" >
                                        <img src="@Url.Content("~/VerifyCode")" style="width: 140px; height: 50px;" id="codeImg"/>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                        <td colspan="6" style="text-align:center">
                                            <p id="info" style="color:red"></p>
                                        </td>
                                    </tr>
                        </table>

                        <div style="margin-top: 10px; text-align: center">
                            <button type="button" class="btn btn-primary" onclick="login()">登陆</button>
                            <button type="reset" class="btn btn-primary" style="margin-left: 10px">重置</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
    <!-- /.row -->
</body>
    <script>
        function login() {
            var password = jQuery("#password").val();
            strmd5 = $.md5(password).toLocaleUpperCase();
            jQuery("#password").val(strmd5);

            if (jQuery("#account").val().length <= 0)
            {
                jQuery("#erro_info").text("请输入账号");
                return;
            }
            if (jQuery("#password").val().length <= 0) {
                jQuery("#erro_info").text("请输入密码");
                return;
            }
            if (jQuery("#code").val().length <= 0) {
                jQuery("#erro_info").text("请输入验证码");
                return;
            }

            jQuery("#LoginForm").submit();
        }
    </script>
</html>
